{% load static %}
{% load thumbnail %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">#}
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.png' %}" sizes="16x16 32x32" >
    <link rel="stylesheet" href="{% static 'css/bootstrap_4.5.2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/tracker.css' %}">
    <title>{% if task %}Редактировать{% else %}Создать{% endif %} задачу</title>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">{% if task %}Редактировать{% else %}Создать{% endif %} задачу</h1>
    {% if form.errors and request.method == 'POST' %}
        <div class="alert alert-danger">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
                <br>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data" {% if task %}action="{% url 'tracker:edit' pk=task.pk %}"{% else %}action="{% url 'tracker:create' %}"{% endif %}>
        {% csrf_token %}

        {% if task %}
            <input type="hidden" name="pk" value="{{ task.pk }}">
        {% endif %}
        <div class="form-group">
            <label for="id_title">Название:</label>
            <input type="text" class="form-control" id="id_title" name="title" placeholder="Введите название задачи" {% if task %}value="{{ task.title }}"{% elif form.title.value %}value="{{ form.title.value }}"{% endif %} required>
        </div>

        <div class="form-group">
            <label for="id_description">Описание:</label>
            <textarea class="form-control" id="id_description" name="description" rows="6" placeholder="Опишите задачу. Можно использовать упрощенный markdown-синтаксис" required>{% if task %}{{ task.description }}{% elif form.description.value %}{{ form.description.value }}{% endif %}</textarea>
        </div>

        <div class="form-group">
            <label for="tags">Выбор тегов:</label>
            <p style="margin-bottom: 0;"><small class="text-muted">Можно выбрать несколько, зажав Ctrl</small></p>
            <select class="form-control" id="tags" name="tags" multiple>
                {% for tag in form.tags.field.queryset.all %}
                    {% if tag.name in initial_tags %}
                        <option value="{{ tag.id }}" selected>{{ tag.name }}</option>
                    {% else %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        {% if task and task.images.all %}

            <label for="id_image">Изображение:</label>

            <div class="form-group">
                {% for TaskImage_object in task.images.all %}
                    {% thumbnail TaskImage_object.image "175x125" crop="center" upscale=True as im %}
                        <div id="overlay_{{ TaskImage_object.id }}" class="overlay" onclick="closeImageOverlay('{{ TaskImage_object.id }}')">
                            <img src="{{ TaskImage_object.image.url }}" alt="Изображение задачи">
                        </div>
                        <a href="javascript:void(0);" onclick="openImageOverlay('{{ TaskImage_object.id }}')">
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Изображение задачи">
                        </a>
                    {% endthumbnail %}
                {% endfor %}
            </div>

            <div class="form-group">
                <input type="checkbox" id="delete_image" name="delete_image"> <label for="delete_image">Удалить существующие изображения</label>
            </div>
            <div class="form-group">
                <label for="id_image">Выбрать новые изображения:</label><br>
                <input type="file" multiple class="form-control-file" id="id_image" name="image" accept="image/* ">
            </div>

        {% else %}
            <div class="form-group">
                <label for="id_image">Изображение:</label>
                <small class="text-muted">Можно выбрать сразу несколько.</small><br>
                <input type="file" multiple class="form-control-file" id="id_image" name="image" accept="image/*">
            </div>
        {% endif %}

        <div class="form-group">
            <label for="priority">Приоритет:</label>
            <select class="form-control" id="priority" name="priority" required>
                <option value="Низкий" {% if task and task.priority == 'Низкий' %}selected{% elif form.priority.value == 'Низкий' %}selected{% endif %}>Низкий</option>
                <option value="Средний" {% if task and task.priority == 'Средний' %}selected{% elif form.priority.value == 'Средний' %}selected{% endif %}>Средний</option>
                <option value="Высокий" {% if task and task.priority == 'Высокий' %}selected{% elif form.priority.value == 'Высокий' %}selected{% endif %}>Высокий</option>
            </select>
        </div>

        <div class="form-group">
            <label for="status">Статус:</label>
            <select class="form-control" id="status" name="status" required>
                <option value="Ожидает выполнения" {% if task and task.status == 'Ожидает выполнения' %}selected{% elif form.status.value == 'Ожидает выполнения' %}selected{% endif %}>Ожидает выполнения</option>
                <option value="В процессе выполнения" {% if task and task.status == 'В процессе выполнения' %}selected{% elif form.status.value == 'В процессе выполнения' %}selected{% endif %}>В процессе выполнения</option>
            </select>
        </div>

        <div class="form-group">
            <label for="id_assigned_to">Ответственный:</label><br>
            {% if task %}
                <small class="text-muted">При смене ответственного пользователя укажите новое время напоминания</small>
            {% endif %}
            <select class="form-control" id="id_assigned_to" name="assigned_to">
                {% for user in all_users %}
                    <option value="{{ user.id }}" {% if task and task.assigned_to and user.id == task.assigned_to.id %}selected{% elif not task and user.id == request.user.id %}selected{% elif form.assigned_to.value|stringformat:"s" == user.id|stringformat:"s" %}selected{% endif %}>
                        {{ user.username }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="id_deadline">Дедлайн:</label>
            <input type="datetime-local" class="form-control" id="id_deadline" name="deadline" {% if task %}value="{{ task.deadline|date:'Y-m-d\TH:i' }}"{% elif form.deadline.value %}value="{{ form.deadline.value }}"{% endif %} required>
        </div>

        <div class="form-group">
            <label for="id_deadline_reminder">Когда напомнить:</label><br>
            {% if not task %}
                <small class="text-muted">Если не заполнять, то напоминание придет за сутки до дедлайна.</small>
                <small class="text-muted">На отрезках менее суток лучше заполнять вручную</small>
            {% endif %}
            <input type="datetime-local" class="form-control" id="id_deadline_reminder" name="deadline_reminder" {% if task %}value="{{ task.deadline_reminder|date:'Y-m-d\TH:i' }}"{% elif form.deadline_reminder.value %}value="{{ form.deadline_reminder.value }}"{% endif %}>
        </div>

        {% if not task or task.is_draft %}
            <div class="form-group">
                <label for="{{ form.is_draft.id_for_label }}">Сохранить как черновик? </label>
                <input type="checkbox" id="{{ form.is_draft.id_for_label }}" name="{{ form.is_draft.name }}" {% if form.is_draft.value %}checked{% endif %}>
                <p><small class="text-muted">(Если отмечено - задание сохранится в черновики без публикации)</small></p>
            </div>
        {% endif %}

        <div class="btn-group-justified">
            <button type="submit" class="btn btn-outline-success">
                {% if task %}Сохранить{% else %}Создать{% endif %}
            </button>
            {% if task %}
                <a href="{% url 'tracker:detail' pk=task.id %}" class="btn btn-outline-secondary">Отмена</a>
            {% else %}
                <a href="{% url 'tracker:index' %}" class="btn btn-outline-secondary">Отмена</a>
            {% endif %}
            {#    Кнопка удаления вынесена в отдельный блок чтобы явно указать метод POST, который требуется в @require_POST #}
            {% if task %}
                <button type="submit" formaction="{% url 'tracker:delete' pk=task.id %}" class="btn btn-outline-danger">Удалить</button>
            {% endif %}
        </div>
    </form>
</div>

{% include 'includes/footer.html' %}

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script>
    function openImageOverlay(imageId) {
        document.getElementById('overlay_' + imageId).style.display = 'block';
    }

    function closeImageOverlay(imageId) {
        document.getElementById('overlay_' + imageId).style.display = 'none';
    }
</script>

</body>
</html>
