{% load static %}
{% load tracker_tags %}

{% block title %}Детали задачи{% endblock %}

<link rel="stylesheet" href="{% static 'css/default.min.css' %}">
<script src="{% static 'js/highlight.min.js' %}"></script>

<script>hljs.highlightAll();</script>

<p><b>Описание:</b> {{ task.description|markdown }}</p>
<p><b>Автор:</b> {{ task.author }}</p>
<p><b>Приоритет:</b> {{ task.priority }}</p>
<p><b>Статус:</b> {{ task.status }}</p>
<p><b>Ответственный:</b> {{ task.assigned_to }}</p>
<p><b>Время создания:</b> {{ task.created }}</p>
<p><b>Дедлайн:</b> {{ task.deadline }}</p>
{% if task.is_done %}
  <p><b>Пометил(а) выполненным:</b> {{ task.done_by }} ({{ task.done_by_time }})</p>
{% endif %}