{% load static %}
{% load tracker_tags %}
{% load thumbnail %}

<head>
    <link rel="stylesheet" href="{% static 'css/default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/tracker.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/highlight.min.js' %}"></script>
</head>

{% for TaskImage_object in images_in_task %}
    {% thumbnail TaskImage_object.image "160x110" crop="center" upscale=True as im %}
        <div id="overlay_{{ TaskImage_object.id }}" class="overlay" onclick="closeImageOverlay('{{ TaskImage_object.id }}')">
            <img src="{{ TaskImage_object.image.url }}" alt="Изображение задачи">
        </div>
        <a href="javascript:void(0);" onclick="openImageOverlay('{{ TaskImage_object.id }}')">
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Изображение задачи">
        </a>
    {% endthumbnail %}
{% endfor %}

{#{% autoescape on %}#}
    <div class="description">
        <p><b>Описание:</b> {{ task.description|markdown }}</p>
    </div>
{#{% endautoescape %}#}

{% if task.tags %}
        {% for task_tag in task.tags.all %}
            <a href="{% url 'tags:by_tag' tag_name=task_tag.tag.name %}">
                <span type="button" class="badge bg-secondary" title="Теги">
                    {{ task_tag.tag.name }}
                </span>
            </a>
        {% endfor %}
{% endif %}

{#{% if total_views %}#}
{#    <span class="badge rounded-pill bg-info text-dark" title="Количество просмотров страницы">#}
{#        👀 {{ total_views }}#}
{#    </span>#}
{#{% endif %}#}

{% if in_favorites %}
    <span class="badge rounded-pill bg-warning text-dark" title="Количество человек, которые добавили задачу в избранное">
        ★ {{ in_favorites }}
    </span>
{% endif %}

<hr>

<p>
    <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseTaskDetails" role="button" aria-expanded="false" aria-controls="collapseTaskDetails">
        Данные задачи
    </a>
    <button class="btn btn-outline-success" data-toggle="collapse" href="#collapseTaskActions" role="button" aria-expanded="false" aria-controls="collapseTaskActions">
        Действия с задачей
    </button>
</p>

<div class="collapse" id="collapseTaskDetails">
    <p><b>Автор:</b> {{ task.author }}</p>
    <p><b>Приоритет:</b> {{ task.priority }}</p>
    <p><b>Статус:</b> {{ task.status }}</p>
    <p><b>Ответственный:</b> {{ task.assigned_to }}</p>
    <p><b>Время создания:</b> {{ task.created }}</p>
    <p><b>Дедлайн:</b> {{ task.deadline }}</p>
    {% if task.is_done %}
        <p><b>Пометил(а) выполненным:</b> {{ task.done_by }} ({{ task.done_by_time }})</p>
    {% endif %}
</div>

<script>
    function openImageOverlay(imageId) {
        document.getElementById('overlay_' + imageId).style.display = 'block';
    }

    function closeImageOverlay(imageId) {
        document.getElementById('overlay_' + imageId).style.display = 'none';
    }
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var imageTags = document.querySelectorAll('.description img');

    imageTags.forEach(function(imgTag) {
      var originalImageLink = document.createElement('a');
      originalImageLink.href = imgTag.src;
      originalImageLink.innerHTML = 'Оригинал';
      originalImageLink.style.display = 'block';  // Устанавливаем элементу стиль block

      var paragraph = document.createElement('p');
      paragraph.style.textAlign = 'center';  // Центрируем текст
      paragraph.appendChild(originalImageLink);

      imgTag.parentNode.insertBefore(paragraph, imgTag.nextSibling);
    });
  });
</script>

<script>
    hljs.highlightAll();
</script>