{% load tracker_tags %}


{% if task.priority == 'Низкий' %}
    <a href="{% url 'tracker:detail' pk=task.id %}" style="text-decoration: none; color: inherit; display: block;">
        <div class="card text-gray mb-3" style='background-color: #c6e0c6;'>
            <div class="card-header">{{ task.title|truncatechars:50  }}</div>
        </div>
    </a>
{% endif %}
{% if task.priority == 'Средний' %}
    <a href="{% url 'tracker:detail' pk=task.id %}" style="text-decoration: none; color: inherit; display: block;">
        <div class="card text-gray mb-3" style='background-color: rgba(149,194,245,0.3);'>
            <div class="card-header">{{ task.title|truncatechars:50  }}</div>
        </div>
    </a>
{% endif %}
{% if task.priority == 'Высокий' %}
    <a href="{% url 'tracker:detail' pk=task.id %}" style="text-decoration: none; color: inherit; display: block;">
        <div class="card text-gray mb-3" style='background-color: #f8d4d4;;'>
            <div class="card-header">{{ task.title|truncatechars:50  }}</div>
        </div>
    </a>
{% endif %}
