{% if tasks %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 class="card-title text-center" style='background-color: rgba(176,181,187,0.36);'>Ожидающие</h4>
          {% for task in tasks %}
            {% if not task.is_done and task.status == "Ожидает выполнения" %}
                {% include 'tasks/tasks.html' %}
            {% endif %}
          {% endfor %}
      </div>

      <div class="col-md-4">
        <h4 class="card-title text-center" style='background-color: rgb(200,208,255);'>В процессе</h4>
        {% for task in tasks %}
          {% if not task.is_done and task.status == "В процессе выполнения" %}
              {% include 'tasks/tasks.html' %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="col-md-4">
        <h4 class="card-title text-center" style='background-color: rgb(167,220,248);'>Выполненные за сутки</h4>
        {% for task in completed_tasks %}
          {% if task.is_done or task.status == 'Выполнено' %}
{#              {% include 'tasks/tasks.html' %}#}
              {% include 'tasks/done_task_detail.html' %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

{% else %}
    <p class="text-center">Список заданий пуст</p>
    {% if user.is_authenticated %}
        <p class="text-center"><a class="nav-item nav-link active" href="{% url 'tracker:create' %}">✏️ Создать задачу ?</a></p>
    {% endif %}
{% endif %}
