{% extends 'base.html' %}
{% load static %}
{% include 'includes/header.html' %}
{% load tracker_tags %}

{% block title %}Профиль пользователя {{ user_profile }}{% endblock %}

{% block content %}

    {% if not user_profile.profile.is_private and not user.is_authenticated %}
        {% include 'includes/profile_card.html' %}
    {% elif user.is_authenticated %}
        {% include 'includes/profile_card.html' %}
    {% else %}
        <div class="text-center">
            <p>🙈 Это приватный профиль.</p>
            <p>Для его просмотра необходимо войти или зарегистрироваться.</p>
        </div>
    {% endif %}
{% endblock %}