{% extends 'base.html' %}

{% block title %}Детали задачи{% endblock %}

{% block content %}

<div class="container">
  <div class="card">

        {% include 'includes/task_title_colors.html' %}

    <div class="card-body">
      <p class="card-text">{% include 'tasks/detail.html' %}</p>
      {% if user.is_authenticated and task.is_done == False %}
        {% if user.is_staff or user == task.author or user == task.assigned_to %}
            {#    Кнопка удаления вынесена в отдельный блок чтобы явно указать метод POST, который требуется в @require_POST #}
            {% if user == task.author %}
                <form method="post" action="{% url 'tracker:delete' pk=task.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">Удалить</button>
                </form>
                <a href="{% url 'tracker:edit' pk=task.id %}" class="btn btn-outline-primary">Редактировать</a>
            {% endif %}
            {% if user == task.assigned_to %}
                <a href="{% url 'tracker:mark_as_done' pk=task.id %}" class="btn btn-outline-success">Выполнено</a>
            {% endif %}
            {% if user == task.assigned_to and task.status == 'Ожидает выполнения' %}
                <a href="{% url 'tracker:change_task_status' pk=task.id %}" class="btn btn-outline-secondary">Взять в работу</a>
            {% endif %}
            {% if user == task.assigned_to and task.status != 'Ожидает выполнения' %}
                <a href="{% url 'tracker:change_task_status' pk=task.id %}" class="btn btn-outline-secondary">Вернуть в ожидающие</a>
            {% endif %}
        {% endif %}
      {% elif user == task.assigned_to %}
          <form method="post" action="{% url 'tracker:mark_as_undone' pk=task.id %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-dark" style="margin-left: auto;">Отмена выполнения</button>
          </form>
      {% endif %}
        <a href="{% url 'tracker:index'%}" class="btn btn-outline-dark">Назад</a>
    </div>
  </div>
</div>
    <br>
{% include 'tasks/create_comment.html' %}
{% endblock %}
