{% extends 'base.html' %}
{% load tracker_tags %}

{% block title %}Результаты поиска{% endblock %}

{% block content %}
  <div class="container mt-4">
    <section class="user-profile text-center">
        <p><b>Результаты поиска</b></p>
        <p>по запросу "{{ search_query }}"</p>
    </section>

    <!-- Верхняя пагинация -->
    {% if page_obj.has_next or page_obj.has_previous%}
      {% include 'includes/paginator.html' %}
    {% endif %}
    <br>
    <section class="search-list">
        {% if page_obj %}
            {% for task in page_obj %}
                {% include 'includes/task_flat_card.html' %}
            {% endfor %}
        {% elif no_results_message %}
            <br><p class="text-center">{{ no_results_message }}</p>
        {% else %}
            <br><p class="text-center">Ничего не найдено</p>
        {% endif %}
    </section>

    <!-- Нижняя пагинация -->
    {% if page_obj.has_next or page_obj.has_previous %}
      {% include 'includes/paginator.html' %}
    {% endif %}
  </div>

{% endblock %}
