{% extends 'base.html' %}
{% load tracker_tags %}

{% block title %}Результаты поиска{% endblock %}

{% block content %}
  <div class="container mt-4">
    <section class="user-profile text-center">
        <p><b>Результаты поиска</b></p>
        <p>по запросу "{{ search_query }}"</p>
    </section>

    <!-- Верхняя пагинация -->
    {% if page_obj.has_next or page_obj.has_previous%}
      {% include 'includes/paginator.html' %}
    {% endif %}

    <section class="search-list">
        {% if page_obj %}
            {% for task in page_obj %}
              <div class="card" style="margin-bottom: 0;">
                {% include 'includes/task_undone_title_colors.html' %}
                <div class="card-body">
                  <div class="task-item">
                    {% include 'tasks/short_detail.html' %}
                  </div>
                </div>
              </div>
            {% endfor %}
        {% elif no_results_message %}
            <br>{{ no_results_message }}
        {% else %}
            <br><p>Ничего не найдено</p>
        {% endif %}
    </section>

    <!-- Нижняя пагинация -->
    {% if page_obj.has_next or page_obj.has_previous %}
      {% include 'includes/paginator.html' %}
    {% endif %}
  </div>

{% endblock %}
