{% if tasks %}
  <ul class="list-group">
    {% for task in tasks %}
      <li class="list-group-item">
        {% if task.is_done %}
            <h2 style="color: {{ task.get_priority_color }}; text-decoration: line-through;">{{ task.title }}</h2>
        {% else %}
          <h2 style="color: {{ task.get_priority_color }}">{{ task.title }}</h2>
        {% endif %}
        <p><b>Описание:</b> {{ task.description }}</p>
        <p><b>Автор:</b> {{ task.author }}</p>
        <p><b>Приоритет:</b> {{ task.priority }}</p>
        <p><b>Статус:</b> {{ task.status }}</p>
        <p><b>Ответственный:</b> {{ task.assigned_to }}</p>
        <p><b>Время создания:</b> {{ task.created }}</p>
        <p><b>Дедлайн:</b> {{ task.deadline }}</p>
        {% if task.is_done %}
          <p><b>Пометил(а) выполненным:</b> {{ task.done_by }} ({{ task.done_by_time }})</p>
        {% endif %}

      <div style="display: flex; align-items: center; width: 100%;">
        {% if user.is_authenticated and task.is_done == False %}
          {% if user.is_staff or user == task.author %}
            <div>
              <a href="{% url 'tracker:edit' pk=task.id %}" class="btn btn-primary">Редактировать</a>
              <a href="{% url 'tracker:delete' pk=task.id %}" class="btn btn-danger" style="margin-left: 5px;">Удалить</a>
            </div>
          {% endif %}
            <a href="{% url 'tracker:mark_as_done' pk=task.id %}" class="btn btn-success" style="margin-left: auto;">Выполнено</a>
          {% elif user.is_authenticated %}
            <a href="{% url 'tracker:mark_as_undone' pk=task.id %}" class="btn btn-outline-secondary" style="margin-left: auto;">Отмена</a>
        {% endif %}
      </div>

      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="text-center">Список заданий пуст</p>
{% endif %}
