{% if tasks %}
  <ul class="list-group">
    {% for task in tasks %}
      <li class="list-group-item">
        <h2 style="color: {{ task.get_priority_color }}">{{ task.title }} #{{ task.id }}</h2>
        <p><b>Описание:</b> {{ task.description }}</p>
        <p><b>Приоритет:</b> {{ task.priority }}</p>
        <p><b>Статус:</b> {{ task.status }}</p>
        <p><b>Время создания:</b> {{ task.created }}</p>
        <p><b>Дедлайн:</b> {{ task.deadline }}</p>

        <div class="btn-group-toggle" style="display: flex; align-items: center;">
          <a href="{% url 'edit' pk=task.id %}" class="btn btn-primary">Редактировать</a>
          <a href="{% url 'delete' pk=task.id %}" class="btn btn-danger" style="margin-left: 5px;">Удалить</a>
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="text-center">Список заданий пуст</p>
{% endif %}
