<div class="pagination justify-content-center align-items-center mt-4">
    <span class="step-links">
    {% if page_obj %}
        {% if page_obj.has_previous %}
            <a href="?page=1">&nbsp; &laquo; &nbsp;</a>
            <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">&nbsp; &raquo; &nbsp;</a>
        {% endif %}
    {% endif %}

    </span>
</div>