<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вы были упомянуты в комментарии</title>
</head>
<body>
    <p>Привет, <strong>{{ username }}</strong>! 👋</p>
    <p>Вы были упомянуты <strong>{{ comment_author }}</strong> в комментарии к задаче <strong>{{ comment_task }}</strong></p>
    <p>Текст комментария: "{{ comment_text }}"</p>
    <p>Ссылка на комментарий: {{ task_link }}?highlighted_comment_id={{ highlighted_comment_id }}</p>
    <p>Ссылка на задачу: {{ task_link }}</p>
    <br>
    <p>Не отвечайте на это письмо, оно сгенерировано автоматически.</p>

</body>
</html>