<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вам была перенаправлена задача</title>
</head>
<body>
    <p>Привет, <strong>{{assigned_to}}</strong>! 👋</p>
    <p>Вам была перенаправлена задача: <strong>{{title}}</strong></p>
    <p>Автор задачи: <strong>{{author}}</strong></p>
    <p>Предыдущий исполнитель задачи: <strong>{{previous_assigned_to_username}}</strong></p>
    <br>
    <p>Не отвечайте на это письмо, оно сгенерировано автоматически.</p>

</body>
</html>