<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вам поставлена новая задача</title>
</head>
<body>
    <p>Привет, <strong>{{ assigned_to }}</strong>! 👋</p>
    <p>Вы были назначены ответственным по задаче: <strong>{{title}}</strong></p>
    <p>Автор задачи: <strong>{{ author }}</strong></p>
    <p>Описание задачи: <strong>{{ description }}</strong></p>
    <p>Приоритет: <strong>{{ priority }}</strong></p>
    <p>Статус: <strong>{{ status }}</strong></p>
    <p>Дедлайн: <strong>{{ deadline }}</strong></p>
    {% if link %}
        <p>Ссылка на задачу: {{ link }}</p>
    {% endif %}
    <br>
    <p>Перед дедлайном мы еще раз напомним вам о задаче.</p>
    <br>
    <p>Не отвечайте на это письмо, оно сгенерировано автоматически.</p>

</body>
</html>
