{% extends 'base.html' %}
{% load static %}
{% include 'includes/header.html' %}
{% load tracker_tags %}

{% block title %}Редактирование профиля пользователя {{ user.username }}{% endblock %}

{% block content %}

    <div class="container mt-4">
        <section class="user-profile row text-center">
{#                <div class="col-md-4 text-left">#}
        <div class="col-md-4 text-left mb-4 mb-md-0">
            {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}" alt="Аватар" class="avatar-img">
            {% else %}
                <img src="/static/placeholders/avatar-placeholder.png" alt="Аватара нет" class="avatar-img">
            {% endif %}
        </div>
        <div class="col-md-8" style="text-align: left;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% if user_edit_form.errors or profile_edit_form.errors %}
                  <div class="alert alert-danger">
                      {% for field, errors in user_edit_form.errors.items %}
                          {% for error in errors %}
                              {{ error }}
                          {% endfor %}
                          <br>
                      {% endfor %}

                      {% for field, errors in profile_edit_form.errors.items %}
                          {% for error in errors %}
                              {{ error }}
                          {% endfor %}
                          <br>
                      {% endfor %}
                  </div>
                {% endif %}

                <!-- User Edit Form -->
                <div class="form-group">
                    <strong>Имя:</strong> <input type="text" id="{{ user_edit_form.first_name.id_for_label }}" class="form-control mb-4" placeholder="Имя" name="{{ user_edit_form.first_name.name }}" value="{{ user.first_name }}">
                </div>

                <div class="form-group">
                    <strong>Фамилия:</strong> <input type="text" id="{{ user_edit_form.last_name.id_for_label }}" class="form-control mb-4" placeholder="Фамилия" name="{{ user_edit_form.last_name.name }}" value="{{ user.last_name }}">
                </div>

                <div class="form-group">
                    <strong>Имя пользователя:</strong> <input type="text" id="{{ user_edit_form.username.id_for_label }}" class="form-control mb-4" placeholder="Имя пользователя" name="{{ user_edit_form.username.name }}" value="{{ user.username }}">
                </div>

                <div class="form-group">
                    <strong>Email:</strong> <input type="email" id="{{ user_edit_form.email.id_for_label }}" class="form-control mb-4" placeholder="Email" name="{{ user_edit_form.email.name }}" value="{{ user.email }}">
                </div>

                <!-- Profile Edit Form -->
                <div class="form-group">
                    <strong>Имя пользователя в Telegram:</strong>
                    <p><small class="text-muted">(Если указано, то будут приходить полезные уведомления от трекера)</small></p>
                    <input type="text" id="{{ profile_edit_form.telegram_username.id_for_label }}" class="form-control mb-4" placeholder="Имя пользователя в Telegram" name="{{ profile_edit_form.telegram_username.name }}" value="{{ user.profile.telegram_username|default_if_none:'' }}">

                </div>


                <div class="form-group">
                    <strong>О себе:</strong><textarea id="{{ profile_edit_form.bio.id_for_label }}" class="form-control mb-4" placeholder="О себе" name="{{ profile_edit_form.bio.name }}" rows="5">{{ user.profile.bio|default_if_none:'' }}</textarea>
                </div>

                <div class="form-group">
                    <label for="{{ profile_edit_form.is_private.id_for_label }}"><strong>Приватный профиль?</strong></label>
                    <input type="checkbox" id="{{ profile_edit_form.is_private.id_for_label }}" name="{{ profile_edit_form.is_private.name }}" {% if profile_edit_form.is_private.value %}checked{% endif %}>
                    <p><small class="text-muted">(Если отмечено - отображается только для авторизованных пользователей)</small></p>
                </div>

                <div class="form-group">
                    <label for="{{ profile_edit_form.avatar.id_for_label }}"><strong>Аватар:</strong></label>
                    {{ profile_edit_form.avatar }}
                </div>
                <div class="buttons text-left">
                    <button class="btn btn-outline-success my-4" type="submit">Сохранить изменения</button>
                    <a class="btn btn-outline-danger my-4" href="{% url 'tracker:profile' user=user %}">Отмена</a>
                </div>


            </form>
        </div>
      </section>
    </div>

{% endblock %}