{% extends 'base.html' %}

{% block content %}
  <main class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <p class="h4 mb-4" style="text-align: center;">Смена пароля</p>
        <form method="post" class="text-center border border-light p-5">
          {% csrf_token %}
          {% if form.errors and request.method == 'POST' %}
              <div class="alert alert-danger">
                  {% for field, errors in form.errors.items %}
                      {% for error in errors %}
                          {{ error }}
                      {% endfor %}
                      <br>
                  {% endfor %}
              </div>
          {% endif %}
          <input type="password" id="{{ form.password1.id_for_label }}" class="form-control mb-4" placeholder="Пароль" name="{{ form.new_password1.name }}" required autofocus>
          <input type="password" id="{{ form.password2.id_for_label }}" class="form-control mb-4" placeholder="Повторите пароль" name="{{ form.new_password2.name }}" required>
          <button class="btn btn-outline-success my-4" type="submit">Назначить новый пароль</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}