{% extends 'base.html' %}

{% block content %}
  <main class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <p class="h4 mb-4" style="text-align: center;">Сброс пароля</p>
        <form method="post" action="{% url 'users:password_reset' %}" class="text-center border border-light p-5">
          {% csrf_token %}
          {% if form.errors and request.method == 'POST' %}
              <div class="alert alert-danger">
                  {% for field, errors in form.errors.items %}
                      {% for error in errors %}
                          {{ error }}
                      {% endfor %}
                      <br>
                  {% endfor %}
              </div>
          {% endif %}
          <small class="text-muted">Введите ваш email и мы вышлем вам ссылку для восстановления пароля</small><br><br>
          <input type="email" id="{{ form.email.id_for_label }}" class="form-control mb-4" placeholder="Ваш email" name="{{ form.email.name }}" required autofocus>

          <button class="btn btn-outline-success my-4" type="submit">Сбросить пароль</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}