<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <h6>Добавить комментарий</h6>

            {% if comment_form.errors and request.method == 'POST' %}
                <div class="alert alert-danger">
                    {% for field, errors in comment_form.errors.items %}
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                        <br>
                    {% endfor %}
                </div>
            {% endif %}

    </div>
    <div class="card-body">
{#      <form method="post" action="{% url 'tracker:create_comment' task_pk=task.pk %}">#}
      <form method="post" enctype="multipart/form-data" action="{% url 'comments:create_comment' task_pk=task.pk %}">
        {% csrf_token %}
        <div class="form-group">
          <textarea class="form-control" id="id_text" name="text" rows="3" placeholder="Разрешен упрощенный markdown-синтаксис и упоминания через @username" required>{{ form.text.value|default:'' }}</textarea>
        </div>

        <div class="btn-group-toggle mt-2">
          <button type="submit" class="btn btn-outline-primary">Отправить</button>
          <input type="file" multiple class="form-control-file" id="id_image" name="image" accept="image/*">
        </div>

      </form>
    </div>
  </div>
</div>